<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <groups>
  <run>
    <include name="validLogin"/> 
    <include name="invalidLogin"/>
   <!--  <include name="abc"/>  -->
    
  </run>
  </groups>
  <classes>
  <class name="com.SeleniumExitTest.tests.LogoutTest"/> 
   <class name="com.SeleniumExitTest.tests.LoginTest"/>
   <class name="com.SeleniumExitTest.tests.HomeTest"/>  
   <class name="com.SeleniumExitTest.tests.AddToCartTest"/> 
       
        
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
